.navbar-nav {
    float: none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.nav-link {
    color: #31231D !important;
}

.navbar-toggler {
    border-color: rgba(235,247,227,1) !important;
}