.navbar {
    min-height: auto;
    width: 100%;
    display: block;
    background-color:#E3DECA; 
    font-size: 16px; 
}

.navbar-nav {
    margin:0 auto;
    display: flex;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    color: #31231D !important;
}

.nav-link a:hover {
    color:#DDA35D;
}

.navbar-toggler {
    border-color: rgba(235,247,227,1) !important;
}

Form {
    margin-left: 10px;
}