.navbar {
    min-height: auto;
    width: 100%;
    display: block;
    background-color:#E3DECA; 
    font-size: 16px; 
}

.navbar-nav {
    margin:0 auto;
    display: flex;
    
}

.nav-link {
   
    color: #31231D !important;
    margin-left: 20px;
}

.nav-link a:hover {
    color:#DDA35D;
}

.navbar-toggler {
    border-color: rgba(235,247,227,1) !important;
}

.nav-logo {
    padding-left: 50px;
}

Form {
    padding-right: 50px;
}