/* Värit: 
ruskea #5C2C0C
vaaleampi oranssi #DDA35D
tummempi oranssi #AA6231
vaalea #E3DECA
vihertävä #3C3A1E
tumma ruskea (esim teksteihin) #31231D
*/

.container-fluid {
  width: 100%;
  background-color: #E3DECA;
  color: #31231D;
}



/* Tuotteet -sivujen tyylimäärittelyt */
.products, .coffee,
.tea, .stuff {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: snow;
  font-size: 90px;
  margin-bottom: 10px;
}

.products {
  background-image: url('components/images/kuva9.jpg');
}

.coffee { 
  background-image: url('components/images/kuva1.png'); 
}

.tea {
  background-image: url('components/images/kuva10.png'); 
}

.stuff {
  background-image: url('components/images/kuva2.png'); 
}


/* Ota yhteyttä -sivun tyylimäärittelyt */
.contact {
  width: 100%;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-image: url('components/images/kuva6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: snow;
  font-size: 90px;
  margin-bottom: 40px;
}


/* Kirjaudu sisään & rekisteröidy -sivujen tyylimäärittelyt */

.sign-up, .register {
  width: 100%;
  display: flex;
  height: 95vh;
  align-items: center;
  justify-content: center;
  background-image: url('components/images/kuva11.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: snow;
  margin-top: 20px;
} 

.register {
  height: 115vh;
}

.form-container {
  width: 360px;
}

h2 {
  padding: 30px 0 10px 0;
}



h3.teksti1 {
  color: #5C2C0C!important;


}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin: 2px 0 12px 0;
  padding: 10px;
  font-size: 15px;
  border: 0;
}

label {
  letter-spacing: 2px;
  font-size: 15px;
}

input {
  background: snow;
}

button {
  background: #AA6231;
  color: snow;
  cursor: pointer;
}

figure {
display: inline-block;

}
